<a href="https://colab.research.google.com/github/IlhamThrq/2025_PBO_TI1B/blob/main/Jobsheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JOBSHEET 01 PEMOGRAMAN BERBASIS OBJEK

PRAKTIKUM 1 TIPE DATA DASAR

Tujuan Instruksional Khusus

Setelah menyelesaikan praktikum ini, mahasiswa diharapkan mampu:

1.   Mengisntal dan mengonfigurasi lingkungan pemrograman Python dengan benar.
2.   Menjelaskan tipe data variabel dan operasi dasar (numerik, string, list, tuple, dan dictionary).
3.   Menggunakan variabel dan operasi dasar (aritmeitka, logika, dan perbandingan) pada Python.
4.   Menerapkan percabangan (if, if-else, elif) dan perulangan (for, while) dalam program sederhana.

In [ ]:
# 1. Number,Integer,Complex
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float (float)
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print("noted")
print("Integer adalah tipe data untuk bilangan Bulat")
print("float adalah tipe data untuk bilangan Desimal/koma")
print("complex adalah tipe data untuk bilangan yang terdiri dari bilangan bulat dan bilangan imajiner")

In [ ]:
angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
noted
Integer adalah tipe data untuk bilangan Bulat
float adalah tipe data untuk bilangan Desimal/koma
complex adalah tipe data untuk bilangan yang terdiri dari bilangan bulat dan bilangan imajiner

In [ ]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))
print("noted")
print("Tipe data boolean adalah tipe data yang bernilai True atau False")

In [ ]:
is_active = True -> <class 'bool'>
noted
Tipe data boolean adalah tipe data yang bernilai True atau False

In [ ]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))
print("noted: Tipe data String adalah tipe data yang menyimpan nilai huruf/Alfhabet")

In [ ]:
teks = Hello, Python! -> <class 'str'>
noted: Tipe data String adalah tipe data yang menyimpan nilai huruf/Alfhabet

In [ ]:
print("4. List")
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

print("\n5. Tuple")
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

â€¦# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

print("\n8.Contoh penggunaan konversi tipe data")
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

In [ ]:
4. List
daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>

5. Tuple
koordinat = (10, 20) -> <class 'tuple'>

6. Dictionary
data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

7. Set
himpunan_angka = {1, 2, 3} -> <class 'set'>

8.Contoh penggunaan konversi tipe data

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>